@model IEnumerable<GrupoASD.GestionActivos.App.Servicios.Entities.ActivosModel>
@{
    ViewData["Title"] = "Index";
}

<h1>Activos</h1>

<p>
    <a asp-action="Create">Crear Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Serial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroInternoInventario)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Peso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Alto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ancho)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Largo)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.ValorCompra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaCompra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaBaja)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdEstadoActual)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdTipoActivo)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Serial)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumeroInternoInventario)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.Peso)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Alto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ancho)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Largo)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.ValorCompra)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaCompra)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaBaja)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.Color)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdEstadoActual)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdTipoActivo)
                </td>*@
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdActivo">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.IdActivo">Detalle</a>
                </td>
            </tr>
        }
    </tbody>
</table>